<div style="padding-bottom: 80px;"></div>
<p>Crypto Rationale is the best website to find unbiased exchange comparisons.</p>
<p>In order to ensure we keep our promise to being unbiased, we open sourced this website on <a
    href="https://github.com/mcscrad/crypto-exchange-comparison" target="_blank">Github</a> and
  you can find all the exchange information including spreads, fees, KYC times, support response times and more in this
  public <a href="https://docs.google.com/spreadsheets/d/1HP2uWOCRUXgVHEsr9ge1rW-kGpwsxWWBe7rFovFE0Bg" target="_blank">
    google spreadsheet.</a></p>
<p>We are currently focussing on exchanges which accept Canadian dollars but will expand into more currencies in the
  future.</p>
<p>If you have any feedback, please create an issue by visiting <a
    href="https://github.com/mcscrad/crypto-exchange-comparison/issues" target="_blank">this link on Github</a></p>
