<h3>Fee calculator</h3>
<p>Fill out the form to determine the fees you will pay.</p>
<p>Selecting buy will take into account any fees to withdraw the crypto to a wallet.</p>
<div class="form-group">
  <label class="form-radio form-inline">
    <input type="radio" id="buy" name="type" checked value="buy" /><i class="form-icon"></i>
    Buy
  </label>
  <label class="form-radio form-inline">
    <input type="radio" id="sell" name="type" value="sell" /><i class="form-icon"></i>
    Sell
  </label>
</div>

<div class="form-group">
  <label class="form-label" for="amount">Amount to buy/sell</label>
  <input class="form-input" type="number" id="amount" step="10" />
</div>

<div class="form-group">
  <label class="form-label" for="coin-select">Choose a coin:</label>
  <select id="coin-select" class="form-select"></select>
</div>

<div class="form-group">
  <label class="form-label" for="method-select">Choose method:</label>
  <select id="method-select" class="form-select"></select>
</div>

<table class="table d-invisible" id="result-table">
  <thead>
    <tr>
      <th>Exchange</th>
      <th>Method</th>
      <th>Fee</th>
      <th>Referral</th>
    </tr>
  </thead>
  <tbody id="table-tbody"></tbody>
</table>
{{> data_footer}}
<script src="javascripts/calculate-fees.js"></script>
