<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description"
    content="Unbiased comparison of crypto exchanges usable by Canadians. Calculate fees for buying and selling bitcoin and ethereum.">
  <title>
    {{#if active.home}}
    Crypto Rationale - Cheapest Crypto Exchanges
    {{else if active.calculateFees}}
    Crypto Rationale - Crypto Exchange Fee Calculator
    {{else if active.about}}
    Crypto Rationale - About
    {{else}}
    Crypto Rationale - Cheapest Crypto Exchanges
    {{/if}}
  </title>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TTX9VQ5PCC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-TTX9VQ5PCC', { cookie_flags: 'SameSite=None;Secure', cookie_domain: 'cryptorationale.com', anonymize_ip: true });
  </script>
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <script src="/javascripts/data.js"></script>
  <div class="container grid-md">
    <header class="navbar">
      <section class="navbar-section">
        <a href="/" class="navbar-brand mr-2">Crypto Rationale</a>
      </section>
      <section class="navbar-center">
        <!-- centered logo or brand -->
        <a href="/" class="btn btn-link {{#if active.home}}underline{{/if}}">Fee Summary</a>
        <a href="/calculate-fees" class="btn btn-link {{#if active.calculateFees}}underline{{/if}}">Fee calculator</a>
      </section>
      <section class="navbar-section">
        <a href="/about" class="btn btn-link {{#if active.about}}underline{{/if}}">About</a>
      </section>
    </header>
    {{{body}}}
    {{!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a></div> --}}
  </div>

</body>

</html>
